<div class="header__area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="header_content">
                    <div class="site-logo">
                        <a href=""><img src="{{ 'site-logo.png' | asset_url }}" alt=""></a>
                    </div>
                    <div class="site-menu">
                        <ul>
                            {% for link in section.settings.header-menu.links %}
                            <li><a href="{{link.url}}">{{link.title}}</a></li>
                                {% if link.links.size > 1 %}
                                    <li>
                                        <a href="{{link.url}}">{{link.title}}</a>
                                        <ul class="submenu">
                                            {% for sublink in link.links %}
                                            <li><a href="{{sublink.url}}">{{sublink.title}}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Header Area",
    "settings":[
         
        {
            "type": "link_list", 
            "id" : "header-menu", 
            "label": "Header Main Menu"
            
            
        }
    ]
}
{% endschema %}