<div class="hero-area-{{section.id}}"
    {% if section.settings.header_bg_img != blank %}
        style="background-image: url('{{ section.settings.header_bg_img |  image_url: width:auto }}');"
        {% endif %}>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="hero_content">
                    <div class="hero_content_left">
                        <h1>{{ section.settings.hero_title  }}</h1>
                        <p>{{ section.settings.hero_subtitle }}</p>
                        <a href="{{ section.settings.hero-btn-url }}">{{ section.settings.hero-btn }}</a>
                        <div class="brakds-wrok-block">
                            <div class="single_brand-work">
                                <h3>200+ <span>International Brands</span></h3>
                            </div>
                            <div class="single_brand-work">
                                <h3>200+ <span>International Brands</span></h3>
                            </div>
                            <div class="single_brand-work">
                                <h3>200+ <span>International Brands</span></h3>
                            </div>
                            <div class="single_brand-work">
                                <h3>200+ <span>International Brands</span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="hero_content_right">
                        {% if section.settings.hero_img != blank %}
                        <img src="{{ section.settings.hero_img |  image_url: width:auto }}" alt="{{ shop.name }}">
                        {% else %}
                        <img src="{{ 'hero-img.png' |  asset_url }}" alt="{{ shop.name }}">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% schema  %} 
{
    "name": "Image Banner",
    "settings": [
        {
            "type": "image_picker",
            "id": "header_bg_img", 
            "label": "Header Background"
        }, 
        {
            "type": "image_picker",
            "id": "hero_img",
            "label": "Hero Image"
        }, 
        {
            "type": "text",
            "id": "hero_title",
            "label": "Hero Title",
            "default": "Add HERE HERO TITLE"
        },
        {
            "type": "text",
            "id": "hero_subtitle",
            "label": "Hero Subtitle",
            "default": "Add HERE HERO SUBTITLE"
        }, 
        {
            "type": "text",
            "id": "hero-btn",
            "label": "Hero Button Text",
            "default": "See More"
        }, 
        {
            "type": "text",
            "id": "hero-btn-url",
            "label": "Hero Button URL",
            "default": "google.com"
        }
        
    ]
}
{% endschema %}